/*
* ADIKIA Website 2025
* CSS Styles
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* === VARIABLES === */

:root {
    --color-pink: #F7E1D7;
    --color-accent1: #368297;
    --color-dark: #164050;
    --color-accent2: #8AAA79;
    --color-accent3: #915761;
    --color-white: #ffffff;
    --color-black: #000000;

    --font-family: 'Barlow Semi Condensed', sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    font-size: 50%;
    --font-size-slogan: 4.0rem;
    --font-size-menu: 2.0rem;
    --font-size-hero: 7rem;
    --font-size-button: 3.0rem;
    --font-size-year: 5.0rem;
    --font-size-section: 6.0rem;
    --font-size-subsection: 4.5rem;
    --font-size-text: 3.4rem;
    --font-size-subtext: 2.4rem;

    --width: 149rem;

    --padding: clamp(4.14rem, 5.55vw, 8.28rem);

    --transition: 0.3s ease;
    scroll-behavior: smooth;
}

/* === GENERAL === */

body {
    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
    line-height: 1.6;
    color: var(--color-dark);
    background-color: var(--color-pink);
    margin: 0;
    padding: 0;
    /* font-size: 18px; */
    /* overflow-x: hidden; */
}

emph {
    font-style: italic;
}

strong {
    font-weight: var(--font-weight-semibold);
}

a {
    color: inherit;
    text-decoration: inherit;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

p,
ol,
ul {
    text-align: left;
    max-width: var(--width);
}

/* === SECTIONS === */

.container {
    max-width: var(--width);
    margin-inline: auto;
    padding: 0 var(--padding);
}

section {
    padding: 5.588rem 0 5.588rem 0;
    scroll-margin-top: 19.75rem;
}

section .container {
    max-width: var(--width);
}

section h2 {
    font-size: var(--font-size-section);
    font-weight: var(--font-weight-semibold);
    letter-spacing: -0.035rem;
    line-height: 1.2;
    margin: 0 0 1.345rem 0;
    padding-left: 0.3622rem;
}

section p {
    font-size: var(--font-size-text);
    letter-spacing: 0.051rem;
    line-height: 5.2rem;
    margin: 0 auto 5.588rem auto;
    padding-left: 0.3622rem;
}


section label {
    font-size: var(--font-size-text);
}

/* === BUTTONS === */

.btn,
button {
    background-color: var(--color-pink);
    color: var(--color-dark);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family);

    display: inline-block;
    text-decoration: none;
    text-align: left;
    text-transform: uppercase;

    padding: 1.5rem 3.5rem;
    border-radius: 5rem;
    margin: 1rem 0;
    font-size: var(--font-size-button);
    letter-spacing: 0.05rem;

    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: var(--color-white) !important;
    cursor: pointer;
}
