header nav,
header .hamburger {
    visibility: hidden;
}


main {
    font-size: 0.8278rem;
    --font-size-section: 6.0em;
    --font-size-text: 3.4em;
    --font-size-subtext: 2.4em;
}

main .container {
    padding: 6.209rem 4.1rem;
}



@media (max-width: 780px) {
    main {
        font-size: 0.6726rem;
    }

    main .container {
        padding: 3rem 2.5rem;
    }
}





main h1 {
    font-size: var(--font-size-section);
    font-weight: var(--font-weight-semibold);
    text-transform: uppercase;
}

main h2 {
    font-size: var(--font-size-subsection);
    font-weight: var(--font-weight-semibold);
    margin: 4.139rem 0 3.104rem 0;
}




main p,
main ol,
main ul {
    font-size: var(--font-size-text);
    text-align: justify;
    margin: 2.07rem auto;
    color: var(--color-blue);
}

main p,
main li {
    line-height: 1.5;
}

main ol,
main ul {
    list-style-position: outside;
    margin: 0;
    padding: 0 0 0 3.518rem;
}

main ol li {
    margin: 0.5em 0;
    /* padding: 0 0 10px 0; */
}

main ul li {
    margin: 0.5em 0;
    /* padding: 0 0 5px 0; */
}

main ol li::marker,
main ul li::marker {
    padding-right: 2.07rem;
}


main strong {
    font-weight: var(--font-weight-semibold);
}


main a,
main a:visited {
    color: var(--color-primary);
}

main a:hover {
    filter: brightness(110%);
}

main a.btn {
    color: var(--color-white);
}





main .btw-wrapper {
    margin: 4.139rem 0 0 0;
    text-align: left;
}

main .btn {
    color: var(--color-white);
    background-color: var(--color-blue);
}

main .btn:hover {
    color: var(--color-dark-blue);
    background-color: var(--color-white);
}


footer .menu {
    /* Hide footer menu in content pages */
    visibility: hidden;
    height: 1.035rem;
}
